.nav-color a{
    font-weight: 400;
    color: #563d7c;
    font-size: 15px;
}

.nav-color .navbar-brand{
    font-weight: 500;
    font-size: 17px;
}

ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}
main {
    height: 611px;
    background-color: #6F5499;
    color: #CDBFE3;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    background-repeat: repeat-x;
}
@media (max-width: 540px) {
    main{
        height: 400px;
    }
}
main .lib-logo {
    /* display: block; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    /* margin-bottom: 100px; */
}

.foot a {
    color: #c1c1c1 Important;
}